@model IEnumerable<DBW_Lab5.Models.Fact>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dollar_sold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avg_sales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item_sold_quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_orders)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Headquarter.city_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.order_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time.time_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dollar_sold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avg_sales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock_quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item_sold_quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_orders)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Headquarter.city_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.order_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time.time_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
